.main {
    margin-top: 100px;
}

.contactBody {
    color: white
}

.portfolioContainer {
    margin-left: 40px;
}

.button-group {
    justify-content: center;
}

.buttonResume, .buttonResume:active, .buttonResume:focus, .buttonResume:visited {
    background-color:deeppink;
    color: white;
    border: 3px solid deeppink;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin: 4px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.buttonResume:hover {
    background-color:transparent;
    color: white;
    border: 3px solid deeppink;
    display: flex;
    align-items:center;
    justify-content:center;

}

/* @media only screen and (max-width: 600px) {
    .media-p1 {
      margin-top: 270px;
    }
  } */
