.pageTitle {
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

.sortDropdown {
    float:left;
    margin-bottom: 10px;
}

.portfolioContainer {
    margin-left: 50;
    margin-right: 10%;
}


/* @media only screen and (max-width: 600px) {
    .media-p1 {
      margin-top: 270px;
    }
  } */
