.main {
    margin-top: 100px;
}

.contactBody {
    color: white
}

.portfolioContainer {
    margin-left: 40px;
}

/* @media only screen and (max-width: 600px) {
    .media-p1 {
      margin-top: 270px;
    }
  } */
