.navLink {
    margin-left: 3px;
    margin-right: 3px;
}

/* unvisited link */
 .navLink:link {
    color: rgb(240, 240, 240);
    text-decoration:none;
  }
  
  /* visited link */
  .navLink:visited {
    color: rgb(240, 240, 240);
    text-decoration:none;
  }
  
  /* mouse over link */
  .navLink:hover {
    color: white;
    text-decoration:none;
  }
  
  /* selected link */
  .navLink:active {
    color: rgb(240, 240, 240);
    text-decoration:none;
  }