Navbar {
  margin-top: -20px
}

.logo {
  font-family: acier-bat-noir,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  line-height: 0.5;
}

.navLink {
    margin-left: 3px;
    margin-right: 3px;
}

/* unvisited link */
 .navLink:link {
    color: rgb(0, 0, 0);
    text-decoration:none;
  }
  
  /* visited link */
  .navLink:visited {
    color: rgb(0, 0, 0);
    text-decoration:none;
  }
  
  /* mouse over link */
  .navLink:hover {
    color: rgb(151, 39, 142);
    text-decoration:none;
  }
  
  /* selected link */
  .navLink:active {
    color: rgb(0, 0, 0);
    text-decoration:none;
  }